<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="bogoTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="vendor/jquery-2.2.3.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="js/controllers/todoController.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">

<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button id="sign-out" type="button" class="btn btn-default navbar-btn">Sign out</button></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- HEADE AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>My Todo List <span class="label label-info">{{ todos.length }}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">

            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div class="list-group">
                <div class="todo-item" ng-repeat="todo in todos">
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="list-group-item clearfix">
                            {{ todo.text }}
                            <span class="pull-right">
                            <span class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </span>
                        </span>
                            <span class="pull-right">
                            <span class="btn btn-xs btn-default" class="todo-delete" ng-click="deleteTodo(todo._id)">
                                <span class="todo-delete glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </span>
                        </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="I want to detect/capture dark matter" ng-model="formData.text">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
            </form>
        </div>
    </div>

</div>
<script>
  $('#sign-out').click(function(){
    $.ajax({
			url: "/logout",
			type: "POST",
			success: function(data){
        window.location.href = '/';
      }
		});
  });
</script>
</body>
</html>
