<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="bogoTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="vendor/jquery-2.2.3.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="js/controllers/todoController.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">

<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <button id="sign-out" type="button" class="btn btn-default navbar-btn">Sign out</button>
                </a>
            </div>
        </div>
    </nav>

    <!-- HEADE AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>My Todo List <span class="label label-info">{{ todos.length }}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">

            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div class="list-group">
                <div class="todo-item" ng-repeat="todo in todos">
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="list-group-item clearfix">
                          <span class="todo-text">{{ todo.text }}</span>
                            <span class="pull-right">
                            <span class="todo-edit btn btn-xs btn-default">
                                <span class="button1 glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </span>
                        </span>
                            <span class="pull-right">
                            <span class="todo-delete btn btn-xs btn-default" ng-click="deleteTodo(todo._id)">
                                <span class="button2 glyphicon glyphicon-trash " aria-hidden="true"></span>
                            </span>
                        </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="I want to detect/capture dark matter" ng-model="formData.text">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
            </form>
        </div>
    </div>

</div>
<script>
var old_text = "";
var new_text = "";
  $('#sign-out').click(function(){
    $.ajax({
			url: "/logout",
			type: "POST",
			success: function(data){
        window.location.href = '/';
      }
		});
  });

  $('body').on('click', '.todo-edit', function() {
    let $this = $(this);
    let $todo = $this.parent().parent().parent().parent();
    let $child = $this.children(':first');
    if ($child.hasClass('glyphicon-cog')){
      //start editting
      $('.todo-cancel').trigger('click');
      $child.removeClass('glyphicon-cog');
      $child.addClass('glyphicon-ok');
      $todo.find('.todo-delete').parent().append(`<span class="todo-cancel btn btn-xs btn-default">
          <span class="button2 glyphicon glyphicon-remove " aria-hidden="true"></span>
      </span>`);
      $('.todo-cancel').on('click', function(){
        $child.removeClass('glyphicon-ok');
        $child.addClass('glyphicon-cog');
        $todo.find('.todo-cancel').remove();
        $todo.find('.todo-delete').show();
        new_text = $('#todo-textbox').val();
        $('#todo-textbox').remove();
        $todo.find('.todo-text').html(old_text);
      });

      $todo.find('.todo-delete').hide();

      old_text = $todo.find('.todo-text').html();
      $todo.find('.todo-text').html('');
      $todo.find('.todo-text').parent().append('<input id="todo-textbox" type="text"/>');
      $('#todo-textbox').val(old_text);


    } else {
      //stop editting
      $child.removeClass('glyphicon-ok');
      $child.addClass('glyphicon-cog');
      $todo.find('.todo-cancel').remove();
      $todo.find('.todo-delete').show();
      new_text = $('#todo-textbox').val();
      $('#todo-textbox').remove();
      $todo.find('.todo-text').html(new_text);


    }
  });
</script>
</body>
</html>
